{{- define "main" -}}

{{/* Author profile page. */}}

{{/* If an account has not been created for this user, just display their name as the title. */}}
{{ if not .File }}
<div class="universal-wrapper pt-3">
  <h1>{{ .Title }}</h1>
</div>
{{ end }}

<section id="profile-page" class="pt-5">
  <div class="container">
    {{/* Show the About widget if an account exists for this user. */}}
    {{ if .File }}
      {{ $widget := "widgets/about.html" }}
      {{ $username := (path.Base (path.Split .Path).Dir) }}{{/* Alternatively, use `index .Params.authors 0` */}}
      {{ $params := dict "root" $ "page" . "author" $username }}
      {{ partial $widget $params }}
    {{end}}


    {{ $query := where .Pages ".IsNode" false }}
    {{ $count := len $query }}
    {{ if $count }}
    <div class="article-widget content-widget-hr">
      <h3>{{ i18n "talks"}}</h3>
      <ul>
        {{ range $query }}
          {{ if .Params.date_end }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
    {{ end }}

    {{ $query := where .Pages ".IsNode" false }}
    {{ $count := len $query }}
    {{ if $count }}
    <div class="article-widget content-widget-hr">
      <h3>{{ i18n "publications"}}</h3>
      <ul>
        {{ range $query }}
          {{ if .Params.publication | or .Params.publisher}}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
    {{ end }}


  </div>
</section>

{{- end -}}
